<div class="login-page">

  <div class="login-container">

    <a routerLink="/inicio" class="back-link">
      ← Voltar para o início
    </a>

    <div class="login-header">
      <h1>Entrar</h1>

      <p>
        Entre com suas credenciais para acessar sua conta.
      </p>
    </div>


    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-group">

        <label for="email">
          E-mail
        </label>

        <input
          type="email"
          id="email"
          placeholder="Digite seu e-mail"
          formControlName="email"
        />

      </div>


      <div class="form-group">

        <label for="password">
          Senha
        </label>

        <input
          type="password"
          id="password"
          placeholder="Digite sua senha"
          formControlName="password"
        />

      </div>


      <div class="login-options">

        <label class="remember">

          <input type="checkbox" />

          Lembrar-me

        </label>


        <a href="#">
          Esqueceu sua senha?
        </a>

      </div>


      <button
        type="submit"
        class="login-button"
        [disabled]="isLoading"
      >
        {{ isLoading ? 'Entrando...' : 'Entrar' }}
      </button>

    </form>


    <div class="register-link">

      <p>
        Não possui uma conta?

        <a routerLink="/cadastro">
          Cadastre-se
        </a>
      </p>

    </div>

  </div>

</div>